_buf = '';  _buf << %Q`<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

        #{escape((
          .fetch('declare!') { 
            raise "Unknown key: 'declare!' for " 
          ).to_s)} 
        }
       <html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
   <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
   <meta http-equiv="Content-Script-Type" content="text/javascript"/>
   <meta http-equiv="Content-Style-Type" content="text/css"/>
   <meta http-equiv="Content-Language" content="en-US"/>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
   <meta http-equiv="Content-Language" content="en-US"/>
\n`
        loop @meta_menu do
 _buf << %Q`         <meta name="{{name}}" content="{{content}}"/>
\n`
        end
 _buf << %Q`      
{{#page}}

   <title>{{title}}</title>

{{/page}}

   <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>

{{#not_mobile_request?}}

   <link rel="stylesheet" type="text/css" media="screen" href="{{css_file}}?time=1289229893"/>

{{/not_mobile_request?}}


{{head_content}}

  </head>
  <body id="the_body">
   <div id="the_content">
     <div class="col" id="pretension">
      <div id="coming_soon">
       <strong> Coming Soon </strong>
      </div>
      <h1>{{site_tag_line}}</h1>
      <p>
       <span>Entertain your friends with your own online universe. Each universe includes: </span>
       <strong>encyclopedia</strong>
       <span> section for memorable moments, </span>
       <strong>magazine</strong>
       <span> section for stories and articles, </span>
       <strong>news</strong>
       <span> section for timely updates, </span>
       <strong>predictions</strong>
       <span> section, </span>
       <strong>q &amp; a</strong>
       <span> section where people ask you questions, </span>
       <strong>shopping</strong>
       <span> section to publicize your favorite buys, </span>
       <span>and a </span>
       <strong>random</strong>
       <span>section where you can post anything.</span>
      </p>
      <p>
       <span>
    Your friends can also post stuff to your universe: 
    </span>
       <strong>stories</strong>
       <span>, </span>
       <strong>predictions</strong>
       <span>, </span>
       <strong>questions</strong>
       <span>, </span>
       <strong>random stuff</strong>
       <span>, etc.</span>
      </p>
      <div id="footer">
       <span>(c) {{copyright_year}} {{site_domain}}. Some rights reserved.</span>
      </div>
     </div>
     <div class="col" id="middle">
      <div id="intro">
       <form method="post" action="/club-search/" name="search_club_form" id="search_club_form">
        <fieldset>
         <label>Find by keyword:</label>
         <input type="text" class="text" value="" name="keyword" id="club_keyword"/>
        </fieldset>
        <div class="buttons">
         <button class="create" onclick="document.getElementById('search_club_form').submit(); return false;">Go</button>
        </div>
       </form>
       <p>
        <span>Tip: Link to </span>
        <a href="/uni/meno_osteo/">menopause/osteo</a>
        <span> is fixed.</span>
       </p>
      </div>
      <div id="nav_bar">
       <ul class="nav_bar help">
        <li>
        </li>
\n`
        if @logged_in?
 _buf << %Q`              <li>
         <a href="log-out">Log-out</a>
        </li>
\n`
        end
 _buf << %Q`             </ul>
\n`
        if @logged_in?
 _buf << %Q`             <h4>Lifes</h4>
       <ul class="nav_bar lifes">
\n`
        loop @usernames do
 _buf << %Q`               <li>
          <a href="{{href}}"> {{username}} </a>
         </li>
\n`
        end
 _buf << %Q`      
        #{escape((
          .fetch('template_name') { 
            raise "Unknown key: 'template_name' for " 
          ).to_s)} 
        }
               <li>
          <a href="/follows/"> [ Follows ] </a>
         </li>

        #{escape((
          .fetch('template_name') { 
            raise "Unknown key: 'template_name' for " 
          ).to_s)} 
        }
               <li>
          <a href="/notifys/"> [ Notifys ] </a>
         </li>

        #{escape((
          .fetch('template_name') { 
            raise "Unknown key: 'template_name' for " 
          ).to_s)} 
        }
               <li>
          <a href="/lifes/"> [ Create Life ] </a>
         </li>
       </ul>
\n`
        end
 _buf << %Q`             <h4>Egg Timers</h4>
       <ul class="nav_bar to_dos">

        #{escape((
          .fetch('template_name') { 
            raise "Unknown key: 'template_name' for " 
          ).to_s)} 
        }
               <li>
          <a href="/my-egg-timer/"> Old </a>
         </li>

        #{escape((
          .fetch('template_name') { 
            raise "Unknown key: 'template_name' for " 
          ).to_s)} 
        }
               <li>
          <a href="/busy-noise/"> New </a>
         </li>
       </ul>
       <h4>Old Stuff</h4>
       <ul class="nav_bar old_clubs">
\n`
        loop @old_clubs do
 _buf << %Q`              <li>
         <a href="{{href}}">{{title}}</a>
        </li>
\n`
        end
 _buf << %Q`             </ul>
       <h4>New Universes</h4>
       <ul class="nav_bar new_stuff">
        <li>
         <a href="/uni/vitamins/">Vitamin Fanatics</a>
        </li>
       </ul>
      </div>
     </div>
   </div>

{{#include_tracking?}}


        <script type="text/javascript"> var mp_protocol = (('https:' == document.location.protocol) ? 'https://' : 'http://'); document.write(unescape('%3Cscript src="' + mp_protocol + 'api.mixpanel.com/site_media/js/api/mixpanel.js" type="text/javascript"%3E%3C/script%3E')); </script> 
        <script type="text/javascript"> try {  var mpmetrics = new MixpanelLib('86bbd0a09d702cd9eef7ba93d59dca93'); } catch(err) { null_fn = function () {}; var mpmetrics = {  track: null_fn,  track_funnel: null_fn,  register: null_fn,  register_once: null_fn, register_funnel: null_fn }; } </script>
        <script type="text/javascript">mpmetrics.track("eveything", { 'referer' : '{{http_referer}}' });</script>
      
{{/include_tracking?}}

  </body>
 </html>\n`
_buf.to_s
